body {
    background: url('../img/table.jpg') no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}


.cards {
    width: 500px;
    height: 140px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(5%,1fr));
}

.card {
    width: 93px;
    height: 140px;
    border-radius: 10px;
    border: 8px solid #F5F3ED;
    background: green;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.6);
    z-index: 3;
    user-select: none;
}


.table {
    /* display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-58%); */
    width: 93px;
    height: 140px;
}

.table .card {
    position: absolute;
}

.table .card:nth-child(2n) {
    transform: rotate(5deg);
}

.table .card:nth-child(3n) {
    transform: rotate(-10deg);
}

.table .card:nth-child(4n) {
    transform: rotate(15deg);
}

.table .card:nth-child(5n) {
    transform: rotate(-15deg);
}

.table .card:nth-child(6n) {
    transform: rotate(20deg);
}

.stackOfDeck {
    position: absolute;
    width: 93px;
    height: 140px;
}
.stackOfDeck:nth-child(10){
    top: 2px;
}
.stackOfDeck:nth-child(9){
    top: 4px;
}
.stackOfDeck:nth-child(8){
    top: 6px;
}
.stackOfDeck:nth-child(7){
    top: 8px;
}
.stackOfDeck:nth-child(6){
    top: 10px;
}
.stackOfDeck:nth-child(5){
    top: 12px;
}
.stackOfDeck:nth-child(4){
    top: 14px;
}
.stackOfDeck:nth-child(3){
    top: 16px;
}
.stackOfDeck:nth-child(2){
    top: 18px;
}
.stackOfDeck:nth-child(1){
    top: 20px;
}
.deck {
    width: 93px;
    height: 140px;
    position: absolute;
    top: 26%;
    right: 37%;
    /* animation: my-deck-animation 1s infinite; */
    transition: all .2s ease-in-out;
}

.deck:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/**/
/**/
/* ihtiyaca gore eklenecekler*/

.back {
    background: url('../img/back.png') no-repeat;
    border: none;
}

.back span {
    color: transparent !important;
    text-shadow: none;
}

.centerNumber {
    font-size: 3.2rem;
    font-weight: 700;
    z-index: 1;
    text-shadow: 2px 2px #232323;
}

.centerNumberBg {
    background: #fff;
    font-size: 3rem;
    font-weight: 700;
    padding: 15px;
    border-radius: 50%;
    position: absolute;
    transform: rotateZ(36deg);
    color: transparent;
}

.topNumber {
    position: absolute;
    top: 0;
    left: 4%;
}

.underNumber {
    position: absolute;
    right: 4%;
    top: 81%;
}

.player-2 {
    position: absolute;
    top: 45%;
    right: 6%;
}

.player-3 {
    position: absolute;
    top: 5%;
}

.player-4 {
    position: absolute;
    top: 45%;
    left: 6%;
}

.cardsContainer {
    position: absolute;
    top: 80%;
}

.cardsContainer .card:hover,
.player-2 .card:hover,
.player-3 .card:hover,
.player-4 .card:hover {
    transform: scale(1.05) translateY(-8px);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    z-index: 999;
}

.myTurn {
    box-shadow: -1px 11px 12px rgba(0,0,0,0.85);
    transform: translateY(-7px);
    cursor: pointer;
}


.frente {
    transform: scale(0.9) rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: -7px;
    left: -4px;
    width: 101px;
    height: 155px;
}

.deck.turned .card.frente {
    transform: scale(0.9) rotateY(0deg);
}

.deck.my-time .card.verso:hover {
    cursor: pointer;
}

/**/
/**/
/**/

